Repository icyd/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: GithubActions, ConfigsAndAssets, Modules, Packages

ci: add ssh config to ci
  .github/workflows/build.yml
  .github/workflows/update-flakes.yml
Labels: GithubActions

ci: update ssh action
  .github/workflows/build.yml
  .github/workflows/update-flakes.yml
Labels: GithubActions

ci: update steps
  .github/workflows/build.yml
  .github/workflows/update-flakes.yml
Labels: GithubActions

ci: change nix config on build, remove step on update-flakes
  .github/workflows/build.yml
  .github/workflows/update-flakes.yml
Labels: GithubActions

ci: fix typo, remove step
  .github/workflows/build.yml
  .github/workflows/update-flakes.yml
Labels: GithubActions

ci: move checkout step after ssh-agent
  .github/workflows/build.yml
  .github/workflows/update-flakes.yml
Labels: GithubActions

ci: revert last changes
  .github/workflows/build.yml
  .github/workflows/update-flakes.yml
Labels: GithubActions

ci: add step to trust ssh host
  .github/workflows/build.yml
  .github/workflows/update-flakes.yml
Labels: GithubActions

ci: add step to update dev flake
  .github/workflows/update-flakes.yml
Labels: GithubActions

ci: build instead of flake check
  .github/workflows/build.yml
Labels: GithubActions

ci: modify build step
  .github/workflows/build.yml
  modules/hosts/legionix5/default.nix
Labels: GithubActions, Modules, Packages

ci: fix typo
  .github/workflows/build.yml
Labels: GithubActions

ci: fix check step
  .github/workflows/build.yml
Labels: GithubActions

ci: update steps (#3)
  .github/workflows/build.yml
  .github/workflows/update-flakes.yml
  modules/hosts/legionix5/default.nix
Labels: GithubActions, Modules, Packages

feat: improved config, separate system and homeManager build steps
  .github/workflows/build.yml
  modules/hosts/_console.nix
  modules/hosts/console.nix
  modules/hosts/legionix5/_disko.nix
  modules/hosts/legionix5/_filesystems.nix
  modules/hosts/legionix5/default.nix
  modules/hosts/legionix5/impermanence.nix
  modules/hosts/legionix5/qmk.rules
  modules/hosts/legionix5/virtualisation.nix
  modules/sops.nix
  modules/users/aj.vazquez.nix
  modules/users/beto.nix
Labels: GithubActions, Modules, Packages

fix: darwin kmonad
  flake.lock
  flake.nix
  modules/hosts/ES-IT00385/kmonad.nix
  modules/hosts/legionix5/default.nix
  modules/kmonad-launchd.nix
Labels: Modules, Packages

ci: workaround missing executable
  .github/workflows/build.yml
Labels: GithubActions

ci: create missing path
  .github/workflows/build.yml
Labels: GithubActions

ci: remove `binOverride` in pipeline
  .github/workflows/build.yml
  modules/hosts/ES-IT00385/kmonad.nix
Labels: GithubActions, Modules, Packages

ci: correct sed command
  .github/workflows/build.yml
Labels: GithubActions

ci: freeup space
  .github/workflows/build.yml
Labels: GithubActions

ci: debug free space before build
  .github/workflows/build.yml
Labels: GithubActions

ci: separate system and home builds
  .github/workflows/build-hm.yml
  .github/workflows/build-system.yml
Labels: GithubActions

feat: update nushell config to be compatible with v0.105
  config/nushell/config.nu
  config/nushell/scripts/certs.nu
  config/nushell/scripts/k8s_gen/base.nu
  flake.lock
  modules/nushell.nix
  modules/users/aj.vazquez.nix
Labels: Modules, Packages

feat: use unstable nushell
  modules/nushell.nix
Labels: Modules, Packages

feat: update nushell scripts
  config/nushell/config.nu
  config/nushell/env.nu
  config/nushell/scripts/certs.nu
  config/nushell/scripts/k8s_gen/base.nu
  modules/home.nix
  modules/nushell.nix
Labels: Modules, Packages

feat: update dependencies & editorconfig
  flake.lock
  modules/editorconfig.nix
Labels: Modules, Packages

feat: update inputs, improve editorconfig, certs script and kmonad to enthium v10
  config/kmonad/darwin_m1.kbd
  config/kmonad/legion5.kbd
  config/nushell/scripts/certs.nu
  flake.lock
  modules/editorconfig.nix
Labels: Modules, Packages

fix: `wireshark` homebrew name
  modules/hosts/ES-IT00385/default.nix
Labels: Modules, Packages

feat: update linux desktop
  config/kmonad/legion5.kbd
  config/nushell/config.nu
  config/wezterm/wezterm.lua
  modules/desktop/default.nix
  modules/desktop/hyprland.nix
  modules/hosts/legionix5/boot.nix
  modules/hosts/legionix5/default.nix
  modules/nushell.nix
  modules/users/beto.nix
Labels: Modules, Packages

feat: editor on git and lazygit config, update nixvim input
  flake.lock
  modules/users/aj.vazquez.nix
Labels: Modules, Packages

feat: added zellij config
  config/zellij/config.kdl
  flake.lock
  flake.nix
  modules/meta/packages.nix
  modules/zellij.nix
  packages/zellij-autolock.nix
Labels: Modules, Packages

feat: improve lazygit conf
  modules/nushell.nix
  modules/users/aj.vazquez.nix
Labels: Modules, Packages

feat: improved zellij config
  config/zellij/config.kdl
  modules/alacritty.nix
  modules/nushell.nix
  modules/zellij.nix
Labels: Modules, Packages

feat: added udev rules for embedded debugging
  flake.lock
  modules/git.nix
  modules/hosts/legionix5/blackmagic.rules
  modules/hosts/legionix5/default.nix
  modules/hosts/legionix5/stlink.rules
  modules/users/aj.vazquez.nix
  modules/users/beto.nix
Labels: Modules, Packages

feat: improve kmonad config
  config/kmonad/darwin_m1.kbd
  config/kmonad/legion5.kbd
  flake.lock
  packages/zellij-autolock.nix
Labels: none

feat: update to 25.11
  config/git/gitalias.txt
  config/kanata/darwin_m1.kbd
  config/kanata/legion5.kbd
  config/kmonad/darwin_m1.kbd
  flake.lock
  flake.nix
  modules/_zellij.nix
  modules/git.nix
  modules/hosts/ES-IT00385/_kmonad.nix
  modules/hosts/ES-IT00385/default.nix
  modules/hosts/ES-IT00385/kanata.nix
  modules/kanata-launchd.nix
  modules/meta/packages.nix
  modules/nushellKeychain.nix
  modules/users/aj.vazquez.nix
  packages/zellij-autolock.nix
Labels: Modules, Packages

ci: update config
  config/kanata/darwin_m1.kbd
  config/zellij/config.kdl
  flake.lock
  modules/_zellij.nix
  modules/hosts/ES-IT00385/default.nix
  modules/users/aj.vazquez.nix
  modules/zellij.nix
  packages/zellij-autolock.nix
Labels: Modules, Packages

feat: update config
  config/kanata/darwin_m1.kbd
  config/kanata/legion5.kbd
  config/nushell/config.nu
  config/nushell/scripts/k8s_gen/base.nu
  config/wezterm/wezterm.lua
  config/zellij/config.kdl
  flake.lock
  flake.nix
  modules/_alacritty.nix
  modules/_zellij.nix
  modules/bash.nix
  modules/documentation.nix
  modules/firefox.nix
  modules/git.nix
  modules/home.nix
  modules/hosts/ES-IT00385/default.nix
  modules/hosts/ES-IT00385/kanata.nix
  modules/meta/home-manager.nix
  modules/meta/hosts.nix
  modules/meta/packages.nix
  modules/nix/nixPath.nix
  modules/nix/settings.nix
  modules/nix/utils.nix
  modules/nushell.nix
  modules/nushellKeychain.nix
  modules/style/stylix.nix
  modules/unfree-packages.nix
  modules/users/aj.vazquez.nix
  modules/users/beto.nix
  modules/wezterm.nix
  modules/zsh.nix
  packages/zellij-autolock.nix
Labels: Modules, Packages

fix: update nixvim dep
  flake.lock
Labels: none

.github/labeler.yml:

---
GithubActions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
ConfigsAndAssets:
  - changed-files:
      - any-glob-to-any-file: configs/**/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/**/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/**/*
